<%= fields.hidden_field :id %>
<%= fields.hidden_field :orig_id %>
<li>
	<%= fields.label :registration_number %>
	<%= fields.text_field :registration_number %>
</li>
<li>
	<%= fields.label :name %>
	<%= fields.text_field :name %>
</li>
