<div class="panel" style="width:29em; margin:20% auto">
	<div class="panel-header">
		<strong>Login</strong>
	</div>
	<%= render :partial => "shared/flash", :locals => {:flash => flash}%>	
	<div class="panel-content">		
		<%= form_for(:session, :url => signin_sessions_path) do |f| %>
			<ul style="padding-left: 1em">
				<li>
					<%= f.label :email, :style => "display:inline-block" %>
					<%= f.text_field :email, :style => "display:inline-block" %>
				</li>
				<li>
					<%= f.label :password, :style => "display:inline-block" %>
					<%= f.password_field :password, :style => "display:inline-block" %>
				</li>
			</ul>
          <%= render :partial => "shared/ui/form-submit-controls_name", 	:locals => {:name => "Sign in", :fields 	=> f}%>
		<% end %>
	</div>
</div>
