<table style="width:100%">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text">Name</th>
			<th class="col-text">Description</th>
	  		<%= render :partial => "shared/ui/date_th"%>			
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="6"> <%= will_paginate official_fee_types, :param_name => param_name, :params => {:anchor => param_name} %> </th>
		</tr>
	</tfoot>
	<tbody>
		<% official_fee_types.each do |official_fee_type|%>
		<tr>
			<td class="col-radio"></td>
			<td class="col-text"><%= official_fee_type.name%></td>
			<td class="col-text"><%= official_fee_type.description%></td>
	  		<%= render :partial => "shared/ui/date_td", :locals => {:object => official_fee_type}%>			
			<td class="col-number"> 
				<%=link_to 'Show', official_fee_type %> 
			</td>
		</tr>
		<%end%>
		<% if official_fee_types.empty? %>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<%end%>
	</tbody>
</table>
