<div class="panel">
	<div class="panel-header">
		<strong><%= t('function.show')%></strong>
	</div>
	<%= render :partial => "shared/flash", :locals => {:flash => flash}%>	
	<dl class="panel-content">
		<dt>
			<label>
				<%= t('function.fields.name')%>
			</label>
		</dt>
		<dd>
			<%=@function.name%>&nbsp;
		</dd>		
		<dt>
			<label>
				<%= t('function.fields.description')%>
			</label>
		</dt>
		<dd>
			<%=@function.description%>&nbsp;
		</dd>		
	</dl>
</div>