<%= fields.hidden_field :id %>
<%= fields.hidden_field :parent_id %>
<%= fields.hidden_field :user_id %>
<ul>
	<%= fields.fields_for :invoice do |i_f| %>
	<%if fields.object.persisted? %>
	<li style="margin-bottom: 1em;">
		<%= fields.label :registration_number, "Invoice number", :style => "font-size: 1.2em;" %>
		<span style="color:black; font-size:1.2em; line-height: 1.8em;"><%= fields.object.invoice.ind_registration_number %>&nbsp;</span>
	</li>
	<%else%>
	<li style="margin-bottom: 1em;">
		<%= i_f.label :invoice_type, "Foreign invoice" %>
		<%= i_f.check_box :invoice_type, :style => "width:auto;" %>
	</li>
	<%end%>	
	<li>
		<%= i_f.hidden_field :invoice_status_id %>		
		<%= i_f.hidden_field :author_id %>
		<%= i_f.label :invoice_date %>
		<%= i_f.text_field :invoice_date, :value => (i_f.object.invoice_date.nil?)? DateTime.now : i_f.object.invoice_date %>
	</li>
	<li>
		<ul>
			<li>
				<h3>Customer</h3>
			</li>
			<li>
				<%= i_f.fields_for :invoice_matters do |im_f| %>
				<%= im_f.hidden_field :matter_id%>
				<%= im_f.hidden_field :matter_task_id%>
				<% end %>
				<%= i_f.hidden_field :id %>
				<%= i_f.hidden_field :customer_id %>
				<%= i_f.label :customer_name, "Name" %>
				<%= i_f.text_field :customer_name %>
			</li>
			<li>
				<%= i_f.label :address_id %>
				<%= i_f.select :address_id, i_f.object.customer_addresses,
          {},
          {:class => 'wide', :disabled => false || i_f.object.customer.nil?} %>
			</li>
			<li>
				<%= i_f.label :individual_id, "Person" %>
				<%= i_f.select :individual_id, i_f.object.customer_contact_persons, 
          {:include_blank => true},
          {:class => 'wide', :disabled => false || i_f.object.customer.nil?} %>
			</li>
		</ul>
		<div id="invoice_address"></div>
	</li>
	<li>
		<ul>
			<li>
				<h3>Referencs</h3>
			</li>
			<li>
				<%= i_f.label :our_ref %>
				<%= i_f.text_field :our_ref %>
			</li>
			<li>
				<%= i_f.label :your_ref %>
				<%= i_f.text_field :your_ref %>
			</li>
			<li>
				<%= i_f.label :your_date %>
				<%= i_f.text_field :your_date %>
			</li>
			<li>
				<%= i_f.label :po_billing %>
				<%= i_f.text_field :po_billing %>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>
				<h3>Billing details</h3>
			</li>			
			<li>
				<%= i_f.label :currency_id %>
				<%= i_f.select :currency_id, Currency.all.collect { |tt| [tt.name, tt.id] } %>
			</li>
			<li>
				<%= i_f.label :discount %>
				<%= i_f.text_field :discount, {:class => 'field-num percent'} %><span class="post-field"> %</span>
			</li>
			<li>
				<%= i_f.label :apply_vat %>
				<%= i_f.check_box :apply_vat, :style => "width:auto;" %>
			</li>
			<li>
				<%= i_f.label :payment_term %>
				<%= i_f.text_field :payment_term, :class => 'field-num', :style => "width:auto; width:4em;" %>
			</li>			
		</ul>
	</li>
	<li>
		<ul>
		<li>
			<h3>Invoice details</h3>
		</li>
			<li>
				<%= i_f.label :subject %>
				<%= i_f.text_area :subject, :size => "80x5", :style => "width:auto;" %>
			</li>
			<li>
				<%= i_f.label :ending_details, 'Ending' %>
				<%= i_f.text_area :ending_details, :size => "80x5", :style => "width:auto;" %>
			</li>
			</ul>
	</li>
	<%if has_function :name => 'funct.invoice.status.paid' %>
		<li>
			<%= i_f.label :date_paid %>
			<%= i_f.text_field :date_paid %>
		</li>	
	<%end%>
	<%end%>	
</ul>