<%col_names = current_user.column_names('invoices')%>
<table style="width: 100%;">
  <thead>
  <tr>
    <th class="col-radio"></th>
    <% col_names.each do |column| %>
        <th class="<%= column.column_type %>">
          <%= t(column.column_name) %>
          <%= link_to "↑", current_url(@parameters, {:order_by => column.column_query, :direction => "ASC"}), :style => "text-decoration:none" %>
          <%= link_to "↓", current_url(@parameters, {:order_by => column.column_query, :direction => "DESC"}), :style => "text-decoration:none" %>
        </th>
    <% end %>
    <th></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th class="list-paginate" colspan="<%= col_names.length + 2 %>">
      <%= will_paginate invoices,:per_page => current_user.rows_per_page, :param_name => param_name, "" => @parameters %>
    </th>
  </tr>
  <tr>
    <th class="list-save-results" colspan="<%= col_names.length + 2 %>" style="border-top:none;">
      <%= link_to "Save results", save_results_invoices_path(:query => @parameters), :target => '_blank' %>
     </th>
  </tr>
  </tfoot>
  <tbody>
  <% invoices.each do |invoice| %>
      <tr>
        <td>
          <% if choose %>
              <%= fields.radio_button :id, invoice.document_id %>
          <% end %>
        </td>
        <% col_names.each do |column| %>

              <% val = invoice.try(column.column_query) %>
              <% val = (column.column_type.eql?('col-date') && !val.nil?) ? val.to_datetime().to_s(:show) : ((column.column_type.eql?('col-number') && !val.nil?)? number_to_currency(val, :unit => "", :delimiter  => "") : val) %>
              <% val = (column.translate) ? t(val) : val %>
              <td class="<%= column.column_type %>" title="<%=val%>">
                <%= ((val.length > 50)? "#{val.slice(0, 50)}..." : val) unless val.nil?%>
            </td>
        <% end %>
        <td class="col-number"><%= link_to "Show", invoice_path(invoice) %></td>
      </tr>
  <% end %>
  <% if @totals %>
      <tr>
        <td colspan="<%=col_names.length %>" class="col-number">
          Total official fee:
        </td>
        <td colspan="2">
          <%= @totals[:total_official_fee]%>
        </td>
      </tr>
      <tr>
        <td colspan="<%=col_names.length %>" class="col-number">
          Total attorney's fees:
        </td>
        <td colspan="2">
          <%= @totals[:total_attorneys_fee]%>
        </td>
      </tr>
      <tr>
        <td colspan="<%=col_names.length %>" class="col-number">
          Official fee + Attorney's fee:
        </td>
        <td colspan="2">
          <%= @totals[:total_official_and_attorneys_fee]%>
        </td>
      </tr>
      <tr>
        <td colspan="<%=col_names.length %>" class="col-number">
          VAT
        </td>
        <td colspan="2">
          <%= @totals[:total_vat]%>
        </td>
      </tr>
      <tr>
        <td colspan="<%=col_names.length %>" class="col-number">
          Grand total:
        </td>
        <td colspan="2">
          <%= @totals[:grand_total]%>
        </td>
      </tr>
  <% end %>
  <% if invoices.empty? %>
      <tr>
        <td colspan="<%= col_names.length + 2 %>">&nbsp;</td>
      </tr>
  <% end %>
  </tbody>
</table>