<div class="panel">
  <div class="panel-header">
    <strong>Invoice information</strong>
  </div>
  <%= render :partial => "shared/flash", :locals => {:flash => flash} %>
  <%= render :partial => "shared/error", :locals => {:obj => @document.invoice} %>
  <%= render :partial => "shared/error", :locals => {:obj => @invoice} %>
  <dl class="panel-content">
    <dt>
      <label> Invoice number </label>
    </dt>
    <dd>
      <%= @document.invoice.ind_registration_number %>&nbsp;
    </dd>
    <dt>
      <label>Foreign invoice</label>
    </dt>
    <dd>
      <%= (@document.invoice.invoice_type == 1) ? 'Yes' : 'No' %>
    </dd>
    <dt>
      <label> Date paid </label>
    </dt>
    <dd>
      <%= @document.invoice.date_paid.to_s(:show) unless @document.invoice.date_paid.nil? %>&nbsp;
    </dd>
    <dt>
      <label> Invoice date </label>
    </dt>
    <dd>
      <%= @document.invoice.invoice_date.to_s(:show) unless @document.invoice.invoice_date.nil? %>&nbsp;
    </dd>
    <dt>
      <label> Customer </label>
    </dt>
    <dd>
      <%= @document.invoice.customer.name unless @document.invoice.customer.nil? %>&nbsp;
    </dd>
    <dt>
      <label> Address </label>
    </dt>
    <dd>
      <%= @document.invoice.address.name unless @document.invoice.address.nil? %>&nbsp;
    </dd>
    <dt>
      <label> Contact person </label>
    </dt>
    <dd>
      <%= @document.invoice.individual.name unless @document.invoice.individual.nil? %>&nbsp;
    </dd>
    <dt>
      <label> Currency </label>
    </dt>
    <dd>
      <%= @document.invoice.currency.name %>&nbsp;
    </dd>
    <dt>
      <label> Discount </label>
    </dt>
    <dd>
      <%= @document.invoice.discount %>%&nbsp;
    </dd>
    <dt>
      <label> Our ref </label>
    </dt>
    <dd>
      <%= @document.invoice.our_ref %>&nbsp;
    </dd>
    <dt>
      <label> Your ref </label>
    </dt>
    <dd>
      <%= @document.invoice.your_ref %>&nbsp;
    </dd>
    <dt>
      <label> Your date </label>
    </dt>
    <dd>
      <%= @document.invoice.your_date.to_s(:show) unless @document.invoice.your_date.nil? %>&nbsp;
    </dd>
    <dt>
      <label> PO Billing </label>
    </dt>
    <dd>
      <%= @document.invoice.po_billing %>&nbsp;
    </dd>
    <dt>
      <label> Subject </label>
    </dt>
    <dd>
      <%= @document.invoice.subject %>&nbsp;
    </dd>
    <dt>
      <label> Apply VAT </label>
    </dt>
    <dd>
      <%= (@document.invoice.apply_vat) ? t('bool.t') : t('bool.f') %>&nbsp;
    </dd>
    <dt>
      <label> Ending details </label>
    </dt>
    <dd>
      <%= @document.invoice.ending_details %>&nbsp;
    </dd>
    <dt>
      <label> Issued by </label>
    </dt>
    <dd>
      <%= @document.invoice.author_name %>&nbsp;
    </dd>
    <dt>
      <label> Payment term </label>
    </dt>
    <dd>
      <%= @document.invoice.payment_term %>&nbsp;
    </dd>
  </dl>
  <%= render :partial => "status_controls", :locals => {:invoice => @document.invoice} %>
  <% if can_edit_invoice? @document.invoice.status_name, @document.invoice %>
      <%= render :partial => "shared/ui/show_edit_controls", :locals => {:name=> "Edit", :path => edit_invoice_path(@invoice)} %>
  <% end %>
  <% if @document.invoice.invoice_status.editable_state %>
      <%= render :partial => "shared/ui/show_edit_controls_confirm", :locals => {:name=> "Copy", :path => copy_invoice_path(@invoice), :message => "Are you sure want to copy invoice details?"} %>
  <% end %>
  <%= render :partial => "invoices/invoice_lines/index", :locals => {:document => @document} %>
  <% unless @document.invoice.invoice_lines.empty? %>
      <div class="show controls slide-out">
        <ul>
          <li>
            <%= link_to 'Preview', apreview_invoice_pdf_path(@document.invoice, :language => 'lv'), :target => :_blank %>
            <ul>
              <li>
                <%= link_to 'LV', apreview_invoice_pdf_path(@document.invoice, :language => 'lv'), :target => :_blank %>
              </li>
              <li>
                <%= link_to 'EN', apreview_invoice_pdf_path(@document.invoice, :language => 'en'), :target => :_blank %>
              </li>
              <li>
                <%= link_to 'RU', apreview_invoice_pdf_path(@document.invoice, :language => 'ru'), :target => :_blank %>
              </li>
              <li>
                <%= link_to 'DE', apreview_invoice_pdf_path(@document.invoice, :language => 'de'), :target => :_blank %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <% if can_print_it? @document.invoice %>
          <div class="show controls slide-out">
            <ul>

              <li>
                <%= link_to 'Print', aprint_invoice_pdf_path(@document.invoice, :language => (@document.invoice.invoice_type == 1) ? 'en' : 'lv'), :target => :_blank %>
                <ul>
                  <% unless @document.invoice.invoice_type == 1 %>
                      <li>
                        <%= link_to 'LV', asave_invoice_pdf_path(@document.invoice, :language => 'lv') %>
                      </li>
                  <% end %>
                  <li>
                    <%= link_to 'EN', aprint_invoice_pdf_path(@document.invoice, :language => 'en'), :target => :_blank %>
                  </li>
                  <li>
                    <%= link_to 'RU', aprint_invoice_pdf_path(@document.invoice, :language => 'ru'), :target => :_blank %>
                  </li>
                  <li>
                    <%= link_to 'DE', aprint_invoice_pdf_path(@document.invoice, :language => 'de'), :target => :_blank %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="show controls slide-out" style="margin-bottom:2em;">
            <ul>
              <li>
                <%= link_to 'Save as PDF', asave_invoice_pdf_path(@document.invoice, :language => (@document.invoice.invoice_type == 1) ? 'en' : 'lv') %>
                <ul>
                  <% unless @document.invoice.invoice_type == 1 %>
                      <li>
                        <%= link_to 'LV', asave_invoice_pdf_path(@document.invoice, :language => 'lv') %>
                      </li>
                  <% end %>
                  <li>
                    <%= link_to 'EN', asave_invoice_pdf_path(@document.invoice, :language => 'en') %>
                  </li>
                  <li>
                    <%= link_to 'RU', asave_invoice_pdf_path(@document.invoice, :language => 'ru') %>
                  </li>
                  <li>
                    <%= link_to 'DE', asave_invoice_pdf_path(@document.invoice, :language => 'de') %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      <% end %>
  <% end %>
</div>