<td class="col-text" style="width:1em">
	<%= fields.hidden_field :id %>	
	<%= fields.select :official_fee_type_id, OfficialFeeType.all.collect { |tt| [tt.name, tt.id] },
    {:include_blank => true},{:class => 'wide'} %>
</td>
<td class="col-number" style="width:1em">	
	<%= fields.text_field :official_fee %>
</td>
<td class="col-text" style="width:1em">
	<%= fields.select :attorney_fee_type_id, AttorneyFeeType.all.collect { |tt| [tt.name, tt.id] },
    {:include_blank => true},{:class => 'wide'} %>
</td>
<td class="col-number" style="width:1em">
	<%= fields.text_field :attorney_fee %>
</td>
<td class="col-text"style="width:1em">
	<%= fields.text_field :offering %>
</td>
<td class="col-text" style="width:1em">
	<%= fields.text_area :details, {:rows => 1, :cols => 20} %>
</td>
<td class="col-text"><%=link_to 'Remove', remove_line_invoice_path(@invoice, :invoice_line_id => fields.object), :method => :delete %></td>
