<%= form_for document.invoice, :url => {:action => 'process_lines'} do |i_f| %>
    <table style="clear:left; height:auto; width: 100%;" class="lines">
      <thead>
      <tr>
        <th class="col-text wide" style="width:1em">Action</th>
        <th class="col-text medium" style="width:1em">Official fee type</th>
        <th class="col-number narrow" style="width:1em">Fee</th>
        <th class="col-text medium" style="width:1em">Attorneys fee type</th>
        <th class="col-number narrow" style="width:1em">Fee</th>
        <th class="col-text narrow" style="width:1em">Units</th>
        <th class="col-number narrow" style="width:1em">Quantity</th>
      </tr>
      </thead>
      <tfoot class="lines-total">
      <% if document.invoice.invoice_type == 1 %>
          <%= render :partial => "/invoices/invoice_lines/footer_foreign", :locals => {:invoice => document.invoice} %>
      <% else %>
          <%= render :partial => "/invoices/invoice_lines/footer_local", :locals => {:invoice => document.invoice} %>
      <% end %>
      <tr>
        <th colspan="7">
          <div class="panel-footer controls" style="margin-top:1em;">
            <% if (has_function :name=>i_f.object.invoice_status.function.name) && (document.invoice.invoice_status.editable_state) %>
                <%= i_f.submit 'Save lines', :name => "save_lines", :style => "display:inline-block; float:none;" %>
                <%= i_f.select :preset_id, InvoiceLinePreset.where(:currency_id => i_f.object.currency_id, :operating_party_id => current_user.operating_party_id).all.collect { |tt| [t(tt.name), tt.id] }, {}, {:style => "display:inline-block; float:none; margin-left:5em; max-width:20em;"} %>
                <% if !InvoiceLinePreset.all.empty? %>
                    <%= i_f.submit 'Add line', :name => "add_line", :style => "display:inline-block; float:none;" %>
                <% else %>
                    <strong style="font-size: 1.2em"> Before adding new lines to invoice, create at least one
                      preset</strong>
                <% end %>
            <% end %>
          </div>
        </th>
      </tr>
      </tfoot>
      <tbody>
      <%= i_f.fields_for :invoice_lines do |il_f| %>
          <%= render :partial => "invoices/invoice_lines/fields", :locals => {:fields => il_f} %>
      <% end %>
      </tbody>
    </table>
<% end %>