<ul>
	<li>
		<%= fields.label :code %>
		<%= fields.text_field :code %>			
	</li>
	<li>
		<%= fields.label :name %>
		<%= fields.text_field :name %>			
	</li>
	<li>
		<%= fields.label :rate %>
		<%= fields.text_field :rate %>			
	</li>
</ul>