<table style="width: 100%;">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text"><%= t('currency.fields.code')%></th>
			<th class="col-text"><%= t('currency.fields.name')%></th>			
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="4">
				<%= will_paginate currencies, :param_name => param_name %>				
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% currencies.each do |currency|%>
			<tr>
				<td class="col-radio">
				</td>
				<td class="col-text"><%=currency.code%></td>
				<td class="col-text"><%=currency.name%></td>							
				<td class="col-number">
					<%=link_to t('button.show'), currency_path(currency) %> 
				</td>
			</tr>
		<%end%>
		<% if currencies.empty? %>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
		<%end%>
	</tbody>
</table>
