<table style="width:100%">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text">Preset name</th>			
			<th class="col-text">Operating party</th>
			<th class="col-text">Official fee name</th>
			<th class="col-number">Official fee</th>			
			<th class="col-text">Attorneys fee name</th>
			<th class="col-number">Attorneys fee</th>
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="8"> <%= will_paginate invoice_line_presets, :param_name => param_name, :params => {:anchor => param_name} %> </th>
		</tr>
	</tfoot>
	<tbody>
		<% invoice_line_presets.each do |invoice_line_preset|%>
		<tr>
			<td class="col-radio"></td>
			<td class="col-text"><%= invoice_line_preset.name%></td>
			<td class="col-text"><%= invoice_line_preset.operating_party_name%></td>
			<td class="col-text"><%= invoice_line_preset.official_fee_name%></td>
			<td class="col-number"><%= invoice_line_preset.official_fee%></td>
			<td class="col-text"><%= invoice_line_preset.attorney_fee_name%></td>
			<td class="col-number"><%= invoice_line_preset.attorney_fee%></td>			
			<td class="col-number"> 
				<%=link_to 'Show', invoice_line_preset %> 
			</td>
		</tr>
		<%end%>
		<% if invoice_line_presets.empty? %>
		<tr>
			<td colspan="8">&nbsp;</td>
		</tr>
		<%end%>
	</tbody>
</table>
