<dl class="panel-content">
	<dt>
		<label> <%=t('invoice_line_preset.fields.name')%> </label>
	</dt>
	<dd>
		<%= @invoice_line_preset.name %>&nbsp;
	</dd>
	<dt>
		<label> <%=t('invoice_line_preset.fields.operating_party')%> </label>
	</dt>
	<dd>
		<%=link_to t(@invoice_line_preset.operating_party_name), operating_party_path(@invoice_line_preset.operating_party) %>&nbsp;
	</dd>
	<dt>
		<label> <%=t('invoice_line_preset.fields.official_fee_type')%> </label>
	</dt>
	<dd>
		<%= @invoice_line_preset.official_fee_name %>&nbsp;
	</dd>	
	<dt>
		<label> <%=t('invoice_line_preset.fields.official_fee')%> </label>
	</dt>
	<dd>
		<%= @invoice_line_preset.official_fee %>&nbsp;
	</dd>	
	<dt>
		<label> <%=t('invoice_line_preset.fields.attorney_fee_type')%> </label>
	</dt>
	<dd>
		<%= @invoice_line_preset.attorney_fee_name %>&nbsp;
	</dd>	
	<dt>
		<label> <%=t('invoice_line_preset.fields.attorney_fee')%> </label>
	</dt>
	<dd>
		<%= @invoice_line_preset.attorney_fee %>&nbsp;
	</dd>
	<dt>
		<label> <%="Currency"%> </label>
	</dt>
	<dd>
		<%= (@invoice_line_preset.currency.nil?)? " " : @invoice_line_preset.currency.name %>&nbsp;
	</dd>
</dl>
