<ul class="fields-show">
	<li>
		<dl>
			<%= render :partial => "shared/matter/matter_number_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.customer_information')%></h3>
			</li>
			<li>
				<dl>
					<%= render :partial => "shared/matter/agent_show", :locals => {:matter 	=> matter}%>
					<%= render :partial => "shared/matter/applicant_show", :locals => {:matter 	=> matter}%>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.domain_details')%></h3>
			</li>
			<li>
				<dl>
					<dt>
						<label><%= t('matter.domain.fields.domain_name')%></label>
					</dt>
					<dd>
						<%= matter.domain.domain_name %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.domain.fields.registration_date')%></label>
					</dt>
					<dd>
						<%= matter.domain.registration_date %>&nbsp;
					</dd>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<dl>
			<%= render :partial => "shared/matter/notes_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
</ul>