<%=form_for @document, :url => (@document.persisted?) ? matter_path : {:controller => 'matters', :action => 'create'} do |d_f| %>
<%= d_f.hidden_field :id %>
<%= d_f.hidden_field :parent_id %>
<div class="dialog">
	<ul>
		<li>
			<%= d_f.label :registration_number, "Matter number" %>
			<%= d_f.text_field :registration_number %>
		</li>
		<%= d_f.fields_for :matter do |m_f| %>
		<li>
			<%= m_f.hidden_field :id %>			
			<%= m_f.label :mark_name %>
			<%= m_f.text_field :mark_name %>
		</li>
		<li>
			<%= d_f.label :description %>
			<%= d_f.text_area :description %>
		</li>
		<li>
			<%= m_f.label :classes, "Matter classes" %>
			<%= m_f.text_field :classes %>
		</li>				
		<li>
			<%= m_f.hidden_field :applicant_id %>			
			<%= m_f.label :applicant_name %>
			<%= m_f.text_field :applicant_name %>
		</li>
		<li>
			<%= m_f.hidden_field :agent_id %>			
			<%= m_f.label :agent_name %>
			<%= m_f.text_field :agent_name %>
		</li>		
		<li>
			<%= m_f.label :appl_date %>
			<%= m_f.text_field :appl_date %>
		</li>
		<li>
			<%= m_f.label :appl_number %>
			<%= m_f.text_field :appl_number %>
		</li>
		<li>
			<%= m_f.label :priority_date %>
			<%= m_f.text_field :priority_date %>
		</li>
		<li>
			<%= m_f.label :CTM_number %>
			<%= m_f.text_field :ctm_number %>
		</li>
		<li>
			<%= m_f.label :WIPO_number %>
			<%= m_f.text_field :wipo_number %>
		</li>
		<li>
			<%= m_f.label :IR_number %>
			<%= m_f.text_field :ir_number %>
		</li>
		<li>
			<%= m_f.label :notes %>
			<%= m_f.text_area :comment %>
		</li>
		<% end %>
	</ul>
</div>
<div class="buttons">
	<span class="button"><%= d_f.submit "Save" %></span>
</div>
<%end%>
<script>
	new Autocomplete('document_matter_attributes_applicant_name', 
	{
		serviceUrl:'/customers/applicant_find_ajax'
		,minChars:2
		,onSelect: function(value, data){
        	$('document_matter_attributes_applicant_id').setValue(data)
      	}
	});
	new Autocomplete('document_matter_attributes_agent_name', 
	{
		serviceUrl:'/customers/agent_find_ajax'
		,minChars:2
		,onSelect: function(value, data){
        	$('document_matter_attributes_agent_id').setValue(data)
      	}
	});	
</script>
