<table style="width: 100%;">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<% current_user.column_names(column_names).each do |column|%>
				<th class="<%=column.column_type%>"><%=t(column.column_name)%></th>
			<%end%>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="<%=current_user.column_names(column_names).length + 2%>">
				<%= will_paginate matters, :param_name => param_name %>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% matters.each do |matter| %>
		<tr>
			<td>
				<%if choose%>
					<%= fields.radio_button :id, matter.document_id%>								
				<%end%>
			</td>
			<% current_user.column_names(column_names).each do |column|%>
				<td class="<%=column.column_type%>">
					<%= matter.try(column.column_query)%>
				</td>
			<%end%>
			<td class="col-number"><%= link_to "Show", matter_path(matter, :anchor => :tasks)%></td>
		</tr>
		<% end %>
		<% if matters.empty? %>
		<tr>
			<td colspan="<%=current_user.column_names(column_names).length + 2%>">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>