<table style="width: 100%;">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<% current_user.column_names(column_names).each do |column|%>
				<th class="<%=column.column_type%>">
                  <%=t(column.column_name)%>
                 <%=link_to "↑", current_url(@parameters, {:order_by => column.column_query, :direction => "ASC"}), :style => "text-decoration:none"%>
                 <%=link_to "↓", current_url(@parameters, {:order_by => column.column_query, :direction => "DESC"}), :style => "text-decoration:none"%>
                </th>
			<%end%>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="<%=current_user.column_names(column_names).length + 2%>">
				<%= will_paginate matters,:per_page => current_user.rows_per_page, :param_name => param_name, :params=> {:anchor => anchor} %>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% matters.each do |matter| %>
		<tr>
			<td>
				<%if choose%>
					<%= fields.radio_button :id, matter.id%>
				<%end%>
			</td>
			<% current_user.column_names(column_names).each do |column|%>
				<td class="<%=column.column_type%>">
                    <% val = matter.try(column.column_query) %>
                    <% val = (column.column_type.eql?('col-date') && !val.nil?)? val.to_datetime().to_s(:show) : val %>
                    <% val = (column.translate)? t(val) : val %>
					<%= val %>
				</td>
			<%end%>
			<td class="col-number"><%= link_to "Show", matter_path(matter, :anchor => :tasks)%></td>
		</tr>
		<% end %>
		<% if matters.empty? %>
		<tr>
			<td colspan="<%=current_user.column_names(column_names).length + 2%>">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>