<table style="width: 100%;">
	<thead class="panel-content">
		<tr>
			<th class="col-radio"></th>	
			<th class="col-text">Matter number</th>
			<th class="col-text">Mark name</th>
			<th class="col-text">Classes</th>
			<th class="col-date">Applicant</th>
			<th class="col-date">Agent</th>
			<th class="col-date">Application date</th>
			<th class="col-date">Application number</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="9">
				<%= will_paginate matters, :param_name => param_name %>
			</th>
		</tr>
	</tfoot>
	<tbody class="panel-content">
		<% matters.each do |matter| %>
		<tr>
			<td>
				<%if choose%>
					<%= fields.radio_button :id, matter.document_id%>								
				<%end%>
			</td>
			<td class="col-text"><%= matter.number%></td>
			<td class="col-text"><%= matter.mark_name %></td>
			<td class="col-text"><%= matter.classes%></td>
			<td class="col-date"><%= matter.applicant_name %></td>
			<td class="col-date"><%= matter.agent_name %></td>
			<td class="col-date"><%= matter.appl_date %></td>
			<td class="col-date"><%= matter.appl_number %></td>
			<td class="col-number"><%= link_to "Show", matter_path(matter)%> | <%= link_to "Edit", edit_matter_path(matter)%> | Remove</td>
		</tr>
		<% end %>
		<% if matters.empty? %>
		<tr>
			<td colspan="9">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>