<div class="panel">
	<div class="panel-header">
		<strong>Matter</strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 	=> flash}%>
	<div class="panel-content">
		<%= render :partial => "show", 					:locals => {:matter 	=> @matter}%>
		<%= render :partial => "shared/matter/image", 	:locals => {:matter 	=> @matter}%>
		<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name=> "Edit", :path => edit_matter_path(@matter)} %>		
	</div>	
	<%= render :partial => "shared/matter/accordion", 	:locals => {:matter 	=> @matter}%>	
</div>