<div class="panel">
	<div class="panel-header">
		<strong>Matter</strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 	=> flash}%>	
	<dl class="panel-content">
		<dt>
			<label> Registration number </label>
		</dt>
		<dd>
			<%= @matter.document.registration_number %>&nbsp;
		</dd>
		<dt>
			<label> Mark name </label>
		</dt>
		<dd>
			<%= @matter.mark_name%>&nbsp;
		</dd>
		<dt>
			<label> Description </label>
		</dt>
		<dd>
			<%= @matter.document.description %>&nbsp;
		</dd>
		<dt>
			<label> Classes </label>
		</dt>
		<dd>
			<%= @matter.classes %>&nbsp;
		</dd>
		<dt>
			<label> Agent name </label>
		</dt>
		<dd>
			<%= @matter.agent_name %>&nbsp;
		</dd>
		<dt>
			<label> Applicant name </label>
		</dt>
		<dd>
			<%= @matter.applicant_name %>&nbsp;
		</dd>
		<dt>
			<label> Appl date </label>
		</dt>
		<dd>
			<%= @matter.appl_date%>&nbsp;
		</dd>
		<dt>
			<label> Appl number </label>
		</dt>
		<dd>
			<%= @matter.appl_number %>&nbsp;
		</dd>
		<dt>
			<label> Priority date </label>
		</dt>
		<dd>
			<%= @matter.priority_date %>&nbsp;
		</dd>
		<dt>
			<label> CTM number </label>
		</dt>
		<dd>
			<%= @matter.ctm_number %>&nbsp;
		</dd>
		<dt>
			<label> WIPO number </label>
		</dt>
		<dd>
			<%= @matter.wipo_number %>&nbsp;
		</dd>
		<dt>
			<label> IR number </label>
		</dt>
		<dd>
			<%= @matter.ir_number %>&nbsp;
		</dd>
		<dt>
			<label> Notes </label>
		</dt>
		<dd>
			<%= @matter.comment %>&nbsp;
		</dd>
		<dt>
			<label> Parent matter </label>
		</dt>
		<dd>
			<%= link_to @matter.document.parent_document_registration_number, matter_path(@matter.document.parent_document)%>&nbsp;
		</dd>
	</dl>
	<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name=> "Edit", :path => edit_matter_path(@matter)} %>
	<dl class="nested-panel accordion">
		<dt class="panel-header">
			<strong><a href="#tasks">Tasks</a></strong>
		</dt>
		<dd id="tasks">
			<%= render :partial => "/matter_tasks/index", :locals => {:matter_tasks => @matter.matter_tasks.paginate(:page => params[:tasks]), :param_name => :tasks} %>
			<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name => 'Add task', :path => new_matter_task_path(@matter, :anchor => :tasks)} %>
		</dd>
		<dt class="panel-header">
			<strong><a href="#invoices">Invoices</a></strong>
		</dt>
		<dd id="invoices">
			<%= render :partial => "/invoices/index", :locals => {:invoices => @matter.invoices.paginate(:page => params[:invoices]), :choose => false, :param_name => :invoices} %>
			<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name => 'Create invoice', :path => new_matter_invoice_path(@matter)} %>
		</dd>		
		<dt class="panel-header">
			<strong><a href="#sub_matters">Sub matters</a></strong>
		</dt>
		<dd id="sub_matters">
			<%= render :partial => "/matters/index", :locals => {:matters => @matter.sub_matters.paginate(:page => params[:sub_matters]), :choose => false, :param_name => :sub_matters} %>
			<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name => 'Create sub matter', :path => new_matter_matter_path(@matter, :anchor => :sub_matters, :type => @matter.matter_type_id)} %>
		</dd>
	</dl>
</div>