<ul class="fields-show">
	<li>
		<dl>
			<%= render :partial => "shared/matter/matter_number_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.customer_information')%></h3>
			</li>
			<li>
				<dl>
					<%= render :partial => "shared/matter/agent_show", :locals => {:matter 	=> matter}%>
					<%= render :partial => "shared/matter/applicant_show", :locals => {:matter 	=> matter}%>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.search_details')%></h3>
			</li>
			<li>
				<dl>
					<dt>
						<label><%= t('matter.trademark.fields.classes')%></label>
					</dt>
					<dd>
						<%= matter.classes %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.search.fields.search_for')%></label>
					</dt>
					<dd>
						<%= matter.search.search_for %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.search.fields.no_of_objects')%></label>
					</dt>
					<dd>
						<%= matter.search.no_of_objects %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.search.fields.express_search')%></label>
					</dt>
					<dd>
						<%= matter.search.express_search %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.search.fields.date_of_order')%></label>
					</dt>
					<dd>
						<%= matter.search.date_of_order.to_s(:show) unless matter.search.date_of_order.nil? %>&nbsp;
					</dd>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<dl>
			<%= render :partial => "shared/matter/notes_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
</ul>