<div class="header row title">
	<div style="float:left;">
		<span>"Pētersona Patents" billing app</span>
	</div>
</div>
<div class="header row h-menu">
	<ul class="menu">
		<li>
			<%=link_to_if_function dashboard_index_path(:anchor => "deadlines"), 'menu.dashboard', 'funct.dashboard.link'%>
		</li>
		<li>
			<%=link_to_if_function matters_path, 'menu.matters', 'funct.matters.link'%>
		</li>
		<li>
			<%=link_to_if_function invoices_path, 'menu.invoices', 'funct.invoices.link'%>
		</li>
		<li>
			<%=link_to_if_function customers_path, 'menu.customers', 'funct.customers.link'%>
		</li>
		<li>
			<%=link_to_if_function profile_path, 'menu.profile', 'funct.profile.link'%>
		</li>
		<li>
			<%=link_to_if_function users_path, 'menu.administration', 'funct.admin.link'%>			
		</li>
	</ul>
	<span style="float:right; margin-right:5em">
		<%= link_to "logout", signout_sessions_path, {:method => :delete, :style => 'color:white; text-decoration:none'} %>
	</span>
</div>
