<div class="header row h-menu">
	<ul class="menu">
		<li><%= t('hello')%></li>	
		<li>
			<%= link_to_if has_function(:name => 'FUNCT_DASHBOARD_LINK'), "Dashboard", dashboard_index_path do 
				escape_a_item("Dashboard") 
			end %>							
		</li>
		<li>
			<%= link_to_if has_function(:name => 'FUNCT_MATTERS_LINK'), "Matters", matters_path do 
				escape_a_item("Matters") 
			end %>
		</li>
		<li>
			<%= link_to_if has_function(:name => 'FUNCT_INVOICES_LINK'), "Invoices", invoices_path do 
				escape_a_item("Invoieces") 
			end %>
		</li>
		<li>
			<%= link_to_if has_function(:name => 'FUNCT_CUSTOMERS_LINK'), "Customers", customers_path do 
				escape_a_item("Customers") 
			end %>
		</li>
		<li>
			<%= link_to_if has_function(:name => 'FUNCT_SETTINGS_LINK'), "Settings", customers_path do 
				escape_a_item("Settings") 
			end %>	
		</li>
		<li>
			<%= link_to_if has_function(:name => 'FUNCT_ADMIN_LINK'), "Administration", users_path do 
				escape_a_item("Administration") 
			end %>			
		</li>
	</ul>
	<span style="float:right; margin-right:5em">
	<%= link_to "logout", signout_sessions_path, {:method => :delete, :style => 'color:white; text-decoration:none'} %>
	</span>	
</div>
