<ul>
	<%= render :partial => "/shared/party/fields", :locals => {:fields => fields} %>
	<%= fields.fields_for :company do |comp_f| %>
		<%= render :partial => "/shared/party/company/fields", :locals => {:fields => comp_f} %>
	<% end %>
	<%= fields.fields_for :customer do |cust_f| %>
	<%= cust_f.hidden_field :id %>
	<%= cust_f.hidden_field :customer_type %>
	<li>
		<%= cust_f.label :customer_since %>
		<%= cust_f.date_select :customer_since %>
	</li>
	<% end %>
</ul>