<ul>
	<%= render :partial => "/shared/party/fields", :locals => {:fields => fields} %>
	<%= fields.fields_for :company do |comp_f| %>
		<%= render :partial => "/shared/party/company/fields", :locals => {:fields => comp_f} %>
	<% end %>
	<%= fields.fields_for :customer do |cust_f| %>
	<%= cust_f.hidden_field :id %>
	<%= cust_f.hidden_field :customer_type %>
	<li>
		<%= cust_f.label :vat_registration_number %>
		<%= cust_f.text_field :vat_registration_number %>
	</li>
	<% end %>
</ul>