<table style="width: 100%;">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text"><%= t('customer.fields.name')%></th>
			<th class="col-text"><%= t('customer.fields.registration_number')%></th>
			<th class="col-text"><%= t('customer.fields.type')%></th>
			<th class="col-text"><%= t('customer.fields.vat_number')%></th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="6">
				<%= will_paginate customers, :param_name => param_name %>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% customers.each do |customer| %>
		<tr>
			<td></td>
			<td class="col-text"><%= customer.name %></td>
			<td class="col-text"><%= customer.registration_number %></td>
			<td class="col-text"><%= customer.type%></td>
			<td class="col-text"><%= customer.vat_registration_number %></td>
			<td class="col-number"><%= link_to t("button.show"), customer_path(customer, :anchor => 'addresses')%></td>
		</tr>
		<% end %>
		<% if customers.empty? %>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>