<ul>
	<%= render :partial => "/shared/party/fields", :locals => {:fields => fields} %>
	<%= fields.fields_for :company do |comp_f| %>
		<%= render :partial => "/shared/party/company/fields", :locals => {:fields => comp_f} %>
		<%= comp_f.fields_for :operating_party do |op_f| %>
		<li>
			<%= op_f.label :operating_party_id, :included_in %>
			<%= op_f.select :operating_party_id, OperatingParty.all.collect { |tt| [t(tt.name), tt.id] }, 
			 {:include_blank => true},{:class => 'wide'} %>
		</li>
		<% end %>		
	<% end %>
</ul>