<table style="width: 100%;">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text">Name</th>
			<th class="col-text">Registration number</th>
			<th class="col-text">Included in</th>			
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="6">
				<%= will_paginate operating_parties, :param_name => param_name %>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% operating_parties.each do |oparating_party| %>
		<tr>
			<td></td>
			<td class="col-text"><%= t(oparating_party.name) %></td>
			<td class="col-text"><%= oparating_party.registration_number%></td>
			<td class="col-text"><%= t(oparating_party.parent_name) unless oparating_party.parent_name.nil? %></td>
			<td class="col-number"><%= link_to "Show", operating_party_path(oparating_party, :anchor => 'addresses')%></td>
		</tr>
		<% end %>
		<% if operating_parties.empty? %>
		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>