<%= fields.fields_for :matter do |m_f| %>
	<%= m_f.fields_for :patent do |t_f| %>
		<%= t_f.hidden_field :matter_id %>
		<ul>
			<li>
				<%= render :partial => "shared/matter/matter_number_field", :locals => {:fields 	=> fields}%>
			</li>
			<li>
				<ul>
					<li>
						<h3>Customer information</h3>
					</li>
					<li>
						<%= render :partial => "shared/matter/agent_field", :locals => {:fields 	=> m_f}%>
					</li>
					<li>
						<%= render :partial => "shared/matter/applicant_field", :locals => {:fields 	=> m_f}%>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<h3>Application details</h3>
					</li>
					<li>
						<%= t_f.label :application_date %>
						<%= t_f.text_field :application_date, :class => 'field-date' %>
					</li>
					<li>
						<%= t_f.label :application_number %>
						<%= t_f.text_field :application_number %>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<h3>Patent data</h3>
					</li>
					<li>
						<%= t_f.label :patent_number%>
						<%= t_f.text_field :patent_number %>
					</li>
					<li>
						<%= t_f.label :patent_grant_date %>
						<%= t_f.text_field :patent_grant_date %>
					</li>
					<li>
						<%= t_f.label :ep_appl_number %>
						<%= t_f.text_field :ep_appl_number %>
					</li>
					<li>
						<%= t_f.label :ep_number %>
						<%= t_f.text_field :ep_number %>
					</li>
				</ul>
			</li>
			<li>
				<%= render :partial => "shared/matter/notes_field", :locals => {:fields 	=> fields}%>
			</li>
		</ul>
	<%end%>
<%end%> 