<%= fields.hidden_field :id %>
<%= fields.hidden_field :matter_id %>
<%= fields.hidden_field :matter_task_status_id %>
<%= fields.hidden_field :matter_task_status_flow_id %>
<%= fields.hidden_field :author_id %>
<ul>
	<li>
		<%= fields.label :description %>
		<%= fields.text_field :description %>
	</li>
	<li>
		<%= fields.label :proposed_deadline %>
		<%= fields.text_field :proposed_deadline %>
	</li>
</ul>