<%=form_for @matter_task, :url => (@matter_task.persisted?) ? matter_matter_task_path : {:controller => 'matter_tasks', :action => 'create'} do |mt_f| %>
<%= mt_f.hidden_field :id %>
<%= mt_f.hidden_field :matter_id %>
<%= mt_f.hidden_field :matter_task_status_id %>
<div class="dialog">
	<ul>
		<li>
			<%= mt_f.label :description %>
			<%= mt_f.text_field :description %>
		</li>
		<li>
			<%= mt_f.label :proposed_deadline %>
			<%= mt_f.text_field :proposed_deadline %>
		</li>
	</ul>
</div>
<div class="buttons">
	<span class="button"><%= mt_f.submit "Save" %></span>
</div>
<%end%>