<%= fields.hidden_field :id %>
<%= fields.hidden_field :operating_party_id %>
<ul>
	<li>
		<%= fields.label :name %>
		<%= fields.text_field :name %>
	</li>	
	<li>
		<%= fields.label :description %>
		<%= fields.text_field :description %>
	</li>
</ul>