<table style="width:100%">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text"><%=t("attorney_fee_type.fields.name")%></th>
			<th class="col-text"><%=t("attorney_fee_type.fields.description")%></th>
	  		<%= render :partial => "shared/ui/date_th"%>			
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="6"> <%= will_paginate attorney_fee_types, :per_page => current_user.rows_per_page, :param_name => param_name, :params => {:anchor => param_name} %> </th>
		</tr>
	</tfoot>
	<tbody>
		<% attorney_fee_types.each do |attorney_fee_type|%>
		<tr>
			<td class="col-radio"></td>
			<td class="col-text"><%= attorney_fee_type.name%></td>
			<td class="col-text"><%= attorney_fee_type.description%></td>
	  		<%= render :partial => "shared/ui/date_td", :locals => {:object => attorney_fee_type}%>			
			<td class="col-number"> 
				<%=link_to t("button.show"), attorney_fee_type %> 
			</td>
		</tr>
		<%end%>
		<% if attorney_fee_types.empty? %>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<%end%>
	</tbody>
</table>
