<%= fields.hidden_field :id %>
<ul>
	<li>
		<%= fields.label :type %>
		<%= fields.select :address_type_id, AddressType.all.collect { |tt| [tt.name, tt.id] } %>
	</li>	
	<li>
		<%= fields.label :country %>
		<%= fields.text_field :country %>
	</li>
	<li>
		<%= fields.label :city %>
		<%= fields.text_field :city %>
	</li>	
	<li>
		<%= fields.label :street %>
		<%= fields.text_field :street %>
	</li>	
	<li>
		<%= fields.label :house_number %>
		<%= fields.text_field :house_number %>
	</li>	
	<li>
		<%= fields.label :room_number %>
		<%= fields.text_field :room_number %>
	</li>
	<li>
		<%= fields.label :post_code %>
		<%= fields.text_field :post_code %>
	</li>
	<li>
		<%= fields.label :po_box %>
		<%= fields.text_field :po_box %>
	</li>	
</ul>