<%= fields.hidden_field :id %>
<ul>
	<li>
		<%= fields.label :address_type_id, t("address.fields.type") %>
		<%= fields.select :address_type_id, AddressType.all.collect { |tt| [t(tt.name), tt.id] } %>
	</li>	
	<li>
		<%= fields.label :country, t("address.fields.country") %>
		<%= fields.text_field :country %>
	</li>
	<li>
		<%= fields.label :city, t("address.fields.line_1") %>
		<%= fields.text_field :city %>
	</li>	
	<li>
		<%= fields.label :street , t("address.fields.line_2") %>
		<%= fields.text_field :street %>
	</li>	
	<li>
		<%= fields.label :house_number , t("address.fields.line_3") %>
		<%= fields.text_field :house_number %>
	</li>	
	<li>
		<%= fields.label :room_number , t("address.fields.line_4")%>
		<%= fields.text_field :room_number %>
	</li>
<!-- 	<li>
		<%= fields.label :post_code %>
		<%= fields.text_field :post_code %>
	</li>
	<li>
		<%= fields.label :po_box %>
		<%= fields.text_field :po_box %>
	</li> -->	
</ul>