<table style="width:100%">
	<thead>
		<tr>
			<th class="col-radio"></th>Address line 1
			<th class="col-text">Type</th>
			<th class="col-text">Country</th>
<!-- 			<th class="col-text">City</th>
			<th class="col-text">Street</th>
			<th class="col-text">House number</th>
			<th class="col-text">Room number</th>
			<th class="col-text">Post code</th>
			<th class="col-text">PO BOX</th> -->
			<th>Address line 1</th>
			<th>Address line 2</th>
			<th>Address line 3</th>
			<th>Address line 4</th>
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="8"> <%= will_paginate addresses, :param_name => param_name, :params => {:anchor => param_name} %> </th>
		</tr>
	</tfoot>
	<tbody>
		<% addresses.each do |address|%>
		<tr>
			<td class="col-radio"></td>
			<td class="col-text"><%= address.address_type.name%></td>
			<td class="col-text"><%= address.country%></td>
			<td class="col-text"><%= address.city%></td>
			<td class="col-text"><%= address.street%></td>
			<td class="col-text"><%= address.house_number%></td>
			<td class="col-text"><%= address.room_number%></td>
<!-- 			<td class="col-text"><%= address.post_code%></td>
			<td class="col-text"><%= address.po_box%></td> -->
			<td class="col-number"> 
				<%=link_to 'Show', path_elements+[address] %> 
			</td>
		</tr>
		<%end%>
		<% if addresses.empty? %>
		<tr>
			<td colspan="8">&nbsp;</td>
		</tr>
		<%end%>
	</tbody>
</table>