<table style="width:100%">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-text"><%=t("address.fields.type")%></th>
			<th class="col-text"><%=t("address.fields.country")%></th>
			<th class="col-text"><%=t("address.fields.line_1")%></th>
			<th class="col-text"><%=t("address.fields.line_2")%></th>
			<th class="col-text"><%=t("address.fields.line_3")%></th>
			<th class="col-text"><%=t("address.fields.line_4")%></th>
	  		<%= render :partial => "shared/ui/date_th"%>
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="10"> <%= will_paginate addresses, :per_page => current_user.rows_per_page, :param_name => param_name, :params => {:anchor => param_name} %> </th>
		</tr>
	</tfoot>
	<tbody>
		<% addresses.each do |address|%>
		<tr>
			<td class="col-radio"></td>
			<td class="col-text"><%= address.address_type.name%></td>
			<td class="col-text"><%= t(address.country.name) unless address.country.nil?%></td>
			<td class="col-text"><%= address.city%></td>
			<td class="col-text"><%= address.street%></td>
			<td class="col-text"><%= address.house_number%></td>
			<td class="col-text"><%= address.room_number%></td>
	  		<%= render :partial => "shared/ui/date_td", :locals => {:object => address}%>
			<td class="col-number"> 
				<%=link_to t("button.show"), path_elements+[address] %>
			</td>
		</tr>
		<%end%>
		<% if addresses.empty? %>
		<tr>
			<td colspan="10">&nbsp;</td>
		</tr>
		<%end%>
	</tbody>
</table>