<%= render :partial => "shared/flash", :locals => {:flash => flash}%>	
<dl class="panel-content">
	<dt>
		<label>
			<%=t("address.fields.type")%>
		</label>
	</dt>
	<dd>
		<%=@address.address_type.name%>&nbsp;
	</dd>		
	<dt>
		<label>
			<%=t("address.fields.country")%>
		</label>
	</dt>
	<dd>
		<%=@address.country.name%>&nbsp;
	</dd>
	<dt>
		<label>
			<!-- City -->
			<%=t("address.fields.line_1")%>			
		</label>
	</dt>
	<dd>
		<%=@address.city%>&nbsp;
	</dd>
	<dt>
		<label>
			<!-- Street -->
			<%=t("address.fields.line_2")%>
		</label>
	</dt>
	<dd>
		<%=@address.street%>&nbsp;
	</dd>
	<dt>
		<label>
			<!-- House number -->
			<%=t("address.fields.line_3")%>
		</label>
	</dt>
	<dd>
		<%=@address.house_number%>&nbsp;
	</dd>		
	<dt>
		<label>
			<!-- Room number -->
			<%=t("address.fields.line_4")%>
		</label>
	</dt>
	<dd>
		<%=@address.room_number%>&nbsp;
	</dd>
<!-- 	<dt>
		<label>
			Post code
		</label>
	</dt>
	<dd>
		<%=@address.post_code%>&nbsp;
	</dd>
	<dt>
		<label>
			PO Box
		</label>
	</dt>
	<dd>
		<%=@address.po_box%>&nbsp;
	</dd> -->		
</dl>