<%= fields.fields_for :matter do |m_f| %>
	<%= m_f.fields_for :custom do |t_f| %>
		<%= t_f.hidden_field :matter_id %>
		<ul>
			<li>
				<%= render :partial => "shared/matter/matter_number_field", :locals => {:fields 	=> fields}%>
			</li>
			<li>
				<%= render :partial => "shared/matter/description_field", :locals => {:fields 	=> fields}%>				
			</li>			
			<li>
				<ul>
					<li>
						<h3>Customer information</h3>
					</li>
					<li>
						<%= render :partial => "shared/matter/agent_field", :locals => {:fields 	=> m_f}%>
					</li>
					<li>
						<%= render :partial => "shared/matter/applicant_field", :locals => {:fields 	=> m_f}%>
					</li>
					<li>
						<%= render :partial => "matters/custom/client_all_ip_field", :locals => {:fields 	=> t_f}%>
					</li>					
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<h3>Custom data</h3>
					</li>
					<li>
						<%= t_f.label :date_of_order_alert%>
						<%= t_f.text_field :date_of_order_alert %>
					</li>
					<li>
						<%= t_f.label :ca_application_date %>
						<%= t_f.text_field :ca_application_date %>
					</li>
					<li>
						<%= t_f.label :ca_application_number %>
						<%= t_f.text_field :ca_application_number %>
					</li>
				</ul>
			</li>
			<li>
 				<%= render :partial => "shared/matter/notes_field", :locals => {:fields 	=> fields}%>
			</li>
		</ul>
	<%end%>
<%end%> 