<ul class="fields-show">
	<li>
		<dl>
			<%= render :partial => "shared/matter/matter_number_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
	<li>
		<ul>
			<li>
				<h3><%= t('header.customer_information')%></h3>
			</li>
			<li>
				<dl>
					<%= render :partial => "shared/matter/agent_show", :locals => {:matter 	=> matter}%>
					<%= render :partial => "shared/matter/applicant_show", :locals => {:matter 	=> matter}%>
					<%= render :partial => "matters/custom/client_all_ip_show", :locals => {:matter 	=> matter}%>					
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>
				<h3><%= t('header.custom_data')%></h3>
			</li>
			<li>
				<dl>
					<dt>
						<label><%= t('matter.custom.fields.date_of_order_alert')%></label>
					</dt>
					<dd>
						<%= matter.custom.date_of_order_alert.to_s(:show) unless matter.custom.date_of_order_alert.nil? %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.custom.fields.ca_application_date')%></label>
					</dt>
					<dd>
						<%= matter.custom.ca_application_date.to_s(:show) unless matter.custom.ca_application_date.nil? %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.custom.fields.ca_application_number')%></label>
					</dt>
					<dd>
						<%= matter.custom.ca_application_number %>&nbsp;
					</dd>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<dl>
			<%= render :partial => "shared/matter/notes_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
</ul>