<table style="width: 100%;">
	<thead>
		<tr>
			<th class="col-radio"></th>	
			<th class="col-text">Name</th>
			<th class="col-text">Description</th>
	  		<%= render :partial => "shared/ui/date_th"%>			
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="6">
				<%= will_paginate roles, :per_page => current_user.rows_per_page, :param_name => param_name, :params => {:anchor => param_name} %>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% roles.each do |role| %>
		<tr>
			<td>
				<%if choose%>
					<%= fields.radio_button :role_id, role.id%>								
				<%end%>
			</td>
			<td class="col-text"><%= role.name %></td>
			<td class="col-text"><%= role.description %></td>
	  		<%= render :partial => "shared/ui/date_td", :locals => {:object => role}%>			
			<td class="col-number">
				<%= link_to "Show", role_path(role, :anchor => "functions")%>
                <%= if @user
                        link_to "Remove", remove_user_role_path(@user, role), :method => :delete
                    end
                %>
			</td>
		</tr>
		<% end %>
		<% if roles.empty? %>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>