<table style="width: 100%;">
	<thead class="panel-content">
		<tr>
			<th class="col-radio"></th>	
			<th class="col-text">Name</th>
			<th class="col-text">Description</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="list-paginate" colspan="4">
				<%= will_paginate roles, :param_name => param_name, :params => {:anchor => param_name} %>
			</th>
		</tr>
	</tfoot>
	<tbody class="panel-content">
		<% roles.each do |role| %>
		<tr>
			<td>
				<%if choose%>
					<%= fields.radio_button :role_id, role.id%>								
				<%end%>
			</td>
			<td class="col-text"><%= role.name %></td>
			<td class="col-text"><%= role.description %></td>
			<td class="col-number">
				<%= link_to "Show", role_path(role, :anchor => "functions")%> | 
				<%= link_to "Edit", edit_role_path(role)%> | Remove
			</td>
		</tr>
		<% end %>
		<% if roles.empty? %>
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
		<% end %>
	</tbody>
</table>