<div class="panel">
	<div class="panel-header">
		<strong>Role information</strong>
	</div>
	<%= render :partial => "shared/flash", :locals => {:flash => flash}%>	
	<dl class="panel-content">
		<dt>
			<label>
				Name
			</label>
		</dt>
		<dd>
			<%=@role.name%>&nbsp;
		</dd>		
		<dt>
			<label>
				Description
			</label>
		</dt>
		<dd>
			<%=@role.description%>&nbsp;
		</dd>		
	</dl>
	<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name=> "Edit", :path => edit_role_path(@role)} %>	
	<div class="nested-panel">
		<div class="panel-header">
			<strong>Functions</strong>
		</div>
		<div>
			<%= render :partial => "/functions/index", :locals => {:functions => @role.functions.paginate(:per_page => current_user.rows_per_page, :page => params[:page]), :choose => false, :param_name => 'function_page'} %>
			<%= render :partial => "shared/ui/show_edit_controls", :locals => {:name => 'Add function', :path => choose_role_functions_path(@role)} %>
		</div>
	</div>	
</div>