<li>
	<%= fields.hidden_field :id %>
	<%= fields.label :first_name %>
	<%= fields.text_field :first_name %>
</li>
<li>
	<%= fields.label :middle_name %>
	<%= fields.text_field :middle_name %>
</li>
<li>
	<%= fields.label :last_name %>
	<%= fields.text_field :last_name %>
</li>
<li>
	<%= fields.label :birth_date %>
	<%= fields.date_select :birth_date %>
</li>