<table style="width:100%">
	<thead>
		<tr>
			<th class="col-radio"></th>
			<th class="col-number">Rate</th>
			<th class="col-date">From date</th>
			<th class="col-date">Through date</th>
			<th class="col-number"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th colspan="5">
				<%= will_paginate exchange_rates, :param_name => param_name %>				
			</th>
		</tr>
	</tfoot>
	<tbody>
		<% exchange_rates.each do |exchange_rate|%>
		<tr>
			<td class="col-radio">
			</td>
			<td class="col-number"><%= exchange_rate.rate%></td>
			<td class="col-date"><%= exchange_rate.from_date%></td>
			<td class="col-date"><%= exchange_rate.through_date%></td>
			<td class="col-number">	<%= link_to 'Edit', edit_exchange_rate_path(exchange_rate) %></td>
		</tr>
		<%end%>
		<% if exchange_rates.empty? %>
		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
		<%end%>
	</tbody>
</table>
