<dl class="panel-content">
	<dt>
		<label> Contact for </label>
	</dt>
	<dd>
		<%= link_to @customer.name, @customer %>&nbsp;
	</dd>	
	<dt>
		<label> Identifier </label>
	</dt>
	<dd>
		<%= @contact_person.party.identifier%>&nbsp;
	</dd>
	<dt>
		<label> First name </label>
	</dt>
	<dd>
		<%= @contact_person.first_name%>&nbsp;
	</dd>
	<dt>
		<label> Middle name </label>
	</dt>
	<dd>
		<%= @contact_person.middle_name%>&nbsp;
	</dd>
	<dt>
		<label> Last name </label>
	</dt>
	<dd>
		<%= @contact_person.last_name%>&nbsp;
	</dd>
	<dt>
		<label> Gender </label>
	</dt>
	<dd>
		<%= @contact_person.gender_name%>&nbsp;
	</dd>
	<dt>
		<label> Birth date </label>
	</dt>
	<dd>
		<%= @contact_person.birth_date%>&nbsp;
	</dd>
</dl>