<dl class="panel-content">
	<dt>
		<label> <%=t("contact_person.fields.contact_for")%> </label>
	</dt>
	<dd>
		<%= link_to @customer.name, @customer %>&nbsp;
	</dd>	
	<dt>
		<label><%=t("individual.fields.first_name")%> </label>
	</dt>
	<dd>
		<%= @contact_person.first_name%>&nbsp;
	</dd>
	<dt>
		<label><%=t("individual.fields.middle_name")%></label>
	</dt>
	<dd>
		<%= @contact_person.middle_name%>&nbsp;
	</dd>
	<dt>
		<label><%=t("individual.fields.last_name")%></label>
	</dt>
	<dd>
		<%= @contact_person.last_name%>&nbsp;
	</dd>
	<dt>
		<label><%=t("individual.fields.gender")%></label>
	</dt>
	<dd>
		<%= @contact_person.gender_name%>&nbsp;
	</dd>
	<dt>
		<label><%=t("individual.fields.birth_date")%></label>
	</dt>
	<dd>
		<%= @contact_person.birth_date.to_s(:show) unless @contact_person.birth_date.nil? %>&nbsp;
	</dd>
</dl>