<div class="panel">
	<%=form_for @relationship, :url => add_customer_contact_persons_path(@customer) do |rel_f|%>
	<%= rel_f.hidden_field :relationship_type_id%>
	<%= rel_f.hidden_field :source_party_id%>
	<%= render :partial => "index", :locals => {:contact_persons => @contact_persons, :table_title => t("contact_persons.title.exists"), :choose => true, :fields => rel_f} %>
	<div class="buttons">
		<span class="button"><%= rel_f.submit t('button.add') %></span>
		<%= link_to t('button.create'), new_customer_contact_person_path(@customer)%>
	</div>	
	<%end%>
</div>