<ul class="fields-show">
	<li>
		<dl>
			<%= render :partial => "shared/matter/matter_number_show", :locals => {:matter 	=> matter}%>
			<%= render :partial => "shared/matter/matter_description_show", :locals => {:matter 	=> matter}%>			
		</dl>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.customer_information')%></h3>
			</li>
			<li>
				<dl>
					<%= render :partial => "shared/matter/agent_show", :locals => {:matter 	=> matter}%>
					<%= render :partial => "shared/matter/applicant_show", :locals => {:matter 	=> matter}%>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.application_details')%></h3>
			</li>
			<li>
				<dl>
					<dt>
						<label><%= t('matter.design.fields.application_date')%></label>
					</dt>
					<dd>
						<%= matter.design.application_date.to_s(:show) unless matter.design.application_date.nil?%>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.design.fields.application_number')%></label>
					</dt>
					<dd>
						<%= matter.design.application_number%>&nbsp;
					</dd>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>
				<h3><%=t('header.design_data')%></h3>
			</li>
			<li>
				<dl>
					<dt>
						<label><%= t('matter.design.fields.design_number')%></label>
					</dt>
					<dd>
						<%= matter.design.design_number %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.design.fields.rdc_appl_number')%></label>
					</dt>
					<dd>
						<%= matter.design.rdc_appl_number %>&nbsp;
					</dd>
					<dt>
						<label><%= t('matter.design.fields.rdc_number')%></label>
					</dt>
					<dd>
						<%= matter.design.rdc_number %>&nbsp;
					</dd>
				</dl>
			</li>
		</ul>
	</li>
	<li>
		<dl>
			<%= render :partial => "shared/matter/notes_show", :locals => {:matter 	=> matter}%>
		</dl>
	</li>
</ul>