<%= fields.fields_for :matter do |m_f| %>
	<%= m_f.fields_for :legal do |t_f| %>
		<%= t_f.hidden_field :matter_id %>
		<ul>
			<li>
				<%= render :partial => "shared/matter/matter_number_field", :locals => {:fields 	=> fields}%>
			</li>
			<li>
				<%= render :partial => "shared/matter/description_field", :locals => {:fields 	=> fields}%>				
			</li>			
			<li>
				<ul>
					<li>
						<h3>Customer information</h3>
					</li>
					<li>
						<%= render :partial => "shared/matter/agent_field", :locals => {:fields 	=> m_f}%>
					</li>
					<li>
						<%= render :partial => "shared/matter/applicant_field", :locals => {:fields 	=> m_f}%>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<h3>Opposite party data</h3>
					</li>
					<li>
						<%= render :partial => "matters/legal/opposite_party_agent_field", :locals => {:fields 	=> t_f}%>
					</li>
					<li>
						<%= render :partial => "matters/legal/opposite_party_field", :locals => {:fields 	=> t_f}%>
					</li>
				</ul>
			</li>			
			<li>
				<ul>
					<li>
						<h3>Legal data</h3>
					</li>
					<li>
						<%= t_f.label :opposed_marks%>
						<%= t_f.text_area :opposed_marks %>
					</li>
					<li>
						<%= t_f.label :legal_type_id %>
						<%= t_f.select :legal_type_id, LegalType.all.collect { |tt| [t(tt.name), tt.id] } %>
					</li>
					<li>
						<%= t_f.label :court_ref %>
						<%= t_f.text_field :court_ref %>
					</li>
					<li>
						<%= t_f.label :instance %>
						<%= t_f.text_field :instance %>
					</li>
					<li>
						<%= t_f.label :date_of_closure %>
						<%= t_f.text_field :date_of_closure, "class" => "field-date date-field", :value => date_format_field(t_f.object.date_of_closure) %>
					</li>
					<li>
						<%= t_f.label :date_of_order %>
						<%= t_f.text_field :date_of_order, "class" => "field-date date-field", :value => date_format_field(t_f.object.date_of_order) %>
					</li>
				</ul>
			</li>
			<li>
				<%= render :partial => "shared/matter/notes_field", :locals => {:fields 	=> fields}%>
			</li>
		</ul>
	<%end%>
<%end%> 