<html>
<head>
	<%= render :partial => "shared/head" %>
</head>
<body>
	<%= render :partial => "shared/menu" %>
	<div class="container">
		<div class="content row">
			<div class="column fixed">
				<div class="panel">
					<div class="panel-header">
						<strong>Summary</strong>
					</div>
					<div class="panel-content" style="min-height: 10em;">
                        <strong>Last login date:</strong> <%=current_user.last_or_current_session_date%>
					</div>
				</div>
				<div class="panel">
					<div class="panel-header">
						<strong>Column filters</strong>
					</div>
					<div class="panel-content">
						<%=form_tag :controller=> :dashboard, :action => :filter do |a_f| %>
							<%= render :partial => "shared/column_filter" %>
						<%end%>
					</div>
				</div>
			</div>
			<div class="column elastic">
				<div>
					<%= yield %>
				</div>
			</div>
		</div>
		<%= render :partial => "shared/footer" %>
	</div>
</body>
</html>