<%= render :partial => "shared/flash", :locals => {:flash => flash}%>	
<dl class="panel-content">
	<dt>
		<label>
			<%=t("account.fields.bank")%>
		</label>
	</dt>
	<dd>
		<%=account.bank%>&nbsp;
	</dd>		
	<dt>
		<label>
			<%=t("account.fields.bank_code")%>
		</label>
	</dt>
	<dd>
		<%=account.bank_code%>&nbsp;
	</dd>
	<dt>
		<label>
			<%=t("account.fields.account_number")%>			
		</label>
	</dt>
	<dd>
		<%=account.account_number%>&nbsp;
	</dd>
	<dt>
		<label>
			<%=t("account.fields.default_account")%>			
		</label>
	</dt>
	<dd>
		<%=account.default_account%>&nbsp;
	</dd>	
	<dt>
		<label>
			<%=t("account.fields.show_on_invoice")%>			
		</label>
	</dt>
	<dd>
		<%=(account.show_on_invoice)%>&nbsp;
	</dd>
</dl>